@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url("http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Lato Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url("http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

@font-face { font-family: Lato-Regular; src: url('http://www.baasbox.com/investor-relations/wp-content/themes/PandoraBox/font/lato-regular.svg'); } 

@font-face { font-family: Lato-Bold; src: url('http://www.baasbox.com/investor-relations/wp-content/themes/PandoraBox/font/lato-bold.svg'); } 

body {
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: #282828;
}

.mainmenu .menuwrapper .menulist {
    display: inline-block;
    float: right;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
}

nav {
    display: block;
    float: right;
}

.mainmenu .menuwrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
}

.mainmenu {
    background-color: #00A99D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    left: 0;
    height: 73px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

.mainmenu .menuwrapper .menulist ul li a {
  color: #fff;
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0 0.5em;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration:none;
  font-family: Lato-Regular, sans-serif !important;
}
.mainmenu .menuwrapper .menulist ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.mainmenu .menuwrapper .menulist ul li a:active {
  background: rgba(255, 255, 255, 0.2);
}

.mainmenu .menuwrapper .menulist ul li {
	float: left;
    list-style: none outside none;
}

.mainmenu .menuwrapper .menulist {
    text-align: center;
}

.mainmenu .menuwrapper .menulist {
    display: inline-block;
    float: right;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
}

.mainmenu .menuwrapper .logoblock {
    display: inline-block;
    left: 0;
    padding: 0.8em 1em;
    position: absolute;
}
.mainmenu .menuwrapper .logoblock .companylogo {
  max-height: 40px;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left:53px;
}
.mainmenu .menuwrapper .logoblock .companylogo:hover {
  opacity: 1;
}

.boxincloud{
  position:absolute;
  background:url(http://www.baasbox.com/wp-content/uploads/testata_marchio.png);
  margin-top: 11px;
  margin-left:-112px;
  height: 50px;
  width: 50px;
}

.items {
  margin-top: -1px;
  margin-right:-38px;
}

.content {
    padding-top:100px;
}